body {
    background-color: #222;
}

header {
    background-color: #222;
}

#logo-image {
	filter: invert(1)
}

#tagline {
    color: #fff;
}

.exhibition {
    color: #fff;
}

.date {
    color: #fff;
}

hr {
    color: #fff;
}

.artists a {
    color: #fff;
}

.list-of-works a {
    color: #fff;
}

a {
    color: #fff;
}

.nav a {
    color: #fff;
}

footer {
    background: #222; /* Dark gradient */
    color: #fff; /* Light text color */
}

.fwd-bck {
    color: #fff;
}