body {
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

header {
	text-align: center;
	margin-top: 10px;

}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    max-width: 700px;
	width: 100%;
    margin: 0 auto;
}

#logo-image {
    max-width: 90%;
    height: auto;
	margin: 20px;
}

#tagline {
    font-size: 25px;
	font-weight: 1000;
    color: #000;
    margin-top: 10px;
}

.exhibition {
    font-size: 30px;
	font-weight: 1000;
    text-align: left;
	margin-bottom: 0;
	margin-left: 20px;
}

.date {
    font-size: 25px;
	font-weight: 1000;
	margin-top: 0;
	margin-left: 20px;
}

.img {
    max-width: 90%;
    height: auto;
    border: 1px solid white;
    border-radius: 8px; /* Add rounded corners */
    overflow: hidden; /* Hide overflow to keep the rounded corners */
	margin-left: 20px;
}

hr {
    color: #5F5F5F;
    height: 2px;
    width: 80%;
    border: none;
    border-top: 2px solid #5F5F5F;
    margin: 50px 0;
}

footer {
    background: linear-gradient(to bottom, transparent 1%, white); /* More abrupt transition at the top */
    color: #333;
    text-align: center;
    padding: 0px;
    width: 100%;
	font-size: 30px;
	font-weight: 1000;
    position: fixed; /* Set position to fixed */
	bottom: 0; /* Align to the bottom of the viewport */
    left: 0;
}

.nav a {
    color: #000; /* Set link color to black */
    text-decoration: underline;
    margin: 0 15px;
}