body {
    margin: 0;
    font-family: 'Alegreya Sans', Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    padding: 20px;
    padding-bottom: 60px; /* Adjust this value based on your footer's height */
}

.exhibition {
    margin-bottom: 30px;
    opacity: 0; /* Set initial opacity to 0 for the fade-in effect */
    transform: translateY(20px); /* Move the elements down a bit for a smooth entrance */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.exhibition img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Add a class to trigger the fade-in effect when scrolling */
.fade-in {
    opacity: 1;
    transform: translateY(0);
}
